.container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin: 0 auto;
    width: 1000px;
    height: 200px;
    padding: 40px;
    background-color: #e4cbb2;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 7rem;
}

.question{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.options{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.2rem;
}

.option{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    min-width: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.option:hover{
    transform: scale(1.05);
}

.selected{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FF7E1D;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    min-width: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.selected:hover{
    transform: scale(1.05);
}